<div class="col-5 line">
    <div style=" margin-top: 0%; margin-bottom: 5%; margin-right: 5%;">

        <div>
            <span data-tooltip="Linkedin">
                <a href="https://www.linkedin.com/in/rochaavinicius/" target="_blank" class="btn-custom">
                    <span class="fa fa-linkedin-square img-circle btn-icon"></span>
                </a>
            </span>
        </div>
    </div>

    <div style=" margin-top: 0%; margin-bottom: 5%; margin-right: 5%;">
        <div>
            <span data-tooltip="GitHub">
                <a href="https://github.com/Rocha-Vinicius" target="_blank" class="btn-custom">
                    <span class="fa fa-github img-circle btn-icon"></span>
                </a>
            </span>
        </div>
    </div>
    
    <div>
        <span data-tooltip="Whatsapp">
            <a href="https://wa.me/5511952850620" target="_blank" class="btn-custom">
                <span class="fa fa-whatsapp img-circle btn-icon"></span>
            </a>
        </span>
    </div>
</div>