<div class="d-flex justify-content-center">
    <div class="card mt-3 mb-5">

        <div class="row">
            <div class="col-2 mt-5">
                <span style="padding-left: 1.5rem;"><label for=""><strong>Tema</strong></label></span>
                <div style="padding-left: 1.5rem;">
                    <button type="button" (click)="toggle()">
                        <img src="../assets/{{ icon }}.png" style="width: 2rem; height: 2rem;"
                            alt="Clique para Dark Model">
                    </button>

                     <!--   ***Toggle Button***
                         <app-toggle-button></app-toggle-button>
                        -->
                </div>
            </div>

            <!--Botão de Dowload para baixar o Currículo-->
            <div class="col-10 mt-5 pt-4">
                <div class="mb-3 d-flex justify-content-end align-items-center">
                    <a href="https://drive.google.com/file/d/13LYFAuswUFa91lJ28Qr3_xgQRaggDxyo/view?usp=sharing"  target="_blank" class="btn-custom">
                        <span class="fa fa-download img-circle btn-icon"> Baixar Currículo</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2 ml-4">
                <img class="rounded-circle profileImg ml-4" src="../assets/ImageVinicius.jpeg" alt="Imagem de Vinicius"
                   >
            </div>

            <div class="col-6 mgt">
                <h4 class="card-title"><strong>Vinicius Rocha dos Santos</strong></h4>
                <p class="card-text mb-1">Desenvolvedor Full Stack Web Jr.
                </p>
                <app-contact-style></app-contact-style>
            </div>

            <div class="col-12">
                <hr>
            </div>
            
            <div class="mt-3">
                <h6><strong>TECNOLOGIAS</strong></h6>
            </div>

            <app-icon-style></app-icon-style>

            <div class="col-12">
                <hr>
            </div>

            <div class="mt-3">
                <h6><strong>FORMAÇÃO</strong></h6>
            </div>

            <p>● Cursando – Análise e desenvolvimento de sistemas – Estácio de Sá (Conclusão 12/2022)
            </p>

            <div class="col-12">
                <hr>
            </div>

            <div class="mt-3">
                <h6><strong>QUALIFICAÇÕES E ATIVIDADES PROFISSIONAIS</strong></h6>
            </div>

            <p class="mb-1"><strong>● Front-End</strong></p>

            <p class="spaceP">● HTML5, CSS3, Display Flex, PrimeNG, Bootstrap, JSON e Ionic
            </p>

            <p class="spaceP">● Linguagem de programação JavaScript/TypeScript- Angular</p>

            <p class="spaceP mb-2">● Npm</p>


            <p class="mb-1"><strong>● Backend-End</strong></p>

            <p class="spaceP">● Components, Clean Code e API REST</p>

            <p class="spaceP mb-2">● Linguagem de programação Java - 2 anos- Hibernate, JDBC e SpringBoot</p>


            <p class="mb-1"><strong>● Metodologia</strong></p>

            <p class="spaceP mb-2">● Agile: Scrum, Jira e Kanban</p>


            <p class="mb-1"><strong>● Banco de dados</strong></p>

            <p class="spaceP mb-2">● PostgreSQL e MySQL</p>


            <p class="mb-1"><strong>● Versionamento</strong></p>

            <p class="spaceP">● Git, GitHub e GitLab</p>

            <div class="col-12">
                <hr>
            </div>

            <div class="mt-3">
                <h6><strong>EXPERIÊNCIAS PROFISSIONAIS</strong></h6>
            </div>

            <p class="mb-1"><strong>SBM Technology</strong></p>
            <p class="mb-1"><strong>Cargo: Desenvolvedor Full Stack Java Jr.</strong></p>
            <p class="spaceP">Período:23/08/2021 – 17/06/2022</p>
            <p class="spaceP wrap">Atribuições: Desenvolvimento web com API Rest em Java, JDBC e SpringBoot. Utilizando
                conexões com banco de dados Relacionais como MySQL e PostgreSQL. Maior especialidade em Front-end, HTML
                5 CSS, JavaScript TypeScript com Angular CLI, PrimeNG e Ionic. Responsável pela renovação de certificado
                Lets Encripty e metodologias ágeis, Jira e Sprint Planning.</p>

            <div class="col-12">
                <hr>
            </div>

            <div class="mt-3">
                <h6><strong>CURSOS</strong></h6>
            </div>
            <p class="spaceP mb-2">● Certificado – Git e Github: Controle e compartilhe seu código – Alura Ensino Online
            </p>
            <p class="spaceP mb-2">● Certificado – Java JRE e JDK: Escreva o seu primeiro código com Eclipse – Alura
                Ensino Online
            </p>
            <p class="spaceP mb-2">● Certificado – Desenvolvedor Full Stack Java Jr – Generation Brasil
            </p>
            <p class="spaceP mb-2">● Aprendendo a Empreender – SEBRAE
            </p>
            <p class="spaceP mb-2">● CTL – Capacitação e Treinamento de Líderes – Videira escola de ministérios - São
                Paulo
            </p>

        </div>
    </div>
</div>